{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

    <!-- Content Row -->
{% block content %}
<div class="fluid-container">
    <div class="row">
        <!-- Map Column -->
        <div class="col-lg-offset-2 col-lg-6 contact">
            <!-- Embedded Google Map -->
            {% placeholder 'contact_map_or_pic' %}
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-3 col-lg-pull-1 col-lg-offset-1">
            <h3>So könnt ihr uns erreichen</h3>
            {% placeholder 'contact_details' %}
            {% placeholder 'contact' %}
        </div>
    </div>
</div>
{% endblock %}
