{% extends "base.html" %}
{% load cms_tags %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

    <!-- Content Row -->
{% block content %}
<div class="fluid-container">
    <div class="row">
        <!-- Map Column -->
        <div class="col-lg-offset-2 col-lg-6">
            <!-- Embedded Google Map -->
            {% placeholder 'map' %}
        </div>
        <!-- Contact Details Column -->
        <div class="col-lg-3 col-lg-pull-1 col-lg-offset-1">
            <h3>So könnt ihr uns erreichen</h3>
            {% placeholder 'contact_details' %}
            <br>
            <h3>Schreib uns doch einfach eine Nachricht</h3>
            <form class="form" method="post" action=".">
                {% csrf_token %}
                <div class="form-group">
                    <select class="form-control">
                        <option>Support</option>
                        <option>Anfrage</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="message">Ihre Nachricht</label>
                    <textarea id="message" class="form-control" rows="2"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Abschicken</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
